[2020-09-11 01:30] failynsedik commented on #288
For the time being, in order to proceed with my task at work, I just manually copied the files I need from `PusherSwift`, instead of doing a `pod install`.

[2020-09-23 13:53] danielrbrowne opened #290 "Workaround needed for Carthage Xcode 12 build failures"
Carthage has an [open issue](https://github.com/Carthage/Carthage/issues/3019) preventing many dependencies from building on Xcode 12.0. If we want to support building with Xcode 12 this needs working around for now.

- [x] Add a workaround for the Carthage Xcode 12 build failures.
- [x] Ensure Consumption-Tests all pass after updating the `LATEST_SUPPORTED_XCODE_VERSION` to 12.0.1.

[2020-09-24 11:30] danielrbrowne opened #291 "Encrypted channels support when installing via Swift Package Manager"
The v0.8.0 release of [swift-sodium](https://github.com/jedisct1/swift-sodium) which is currently used does not support integration via Swift Package Manager.

Updating to the latest release should allow for encrypted channels support for users of the SDK installing it via SPM.

- [ ] Update to v0.9.0 or above of swift-sodium.
- [ ] Refactor `Package.swift` (and project structure if needed) to all

[2020-09-25 08:59] danielrbrowne opened #293 "Example apps should use 9.0.0 release for their SDK installation"
Currently, the SDK installation for the Swift and Objective-C example apps use the `feature/migrate-to-spm` branch (via the 'Swift Packages' tab in the project settings).

Once #290 has been addressed and v9.0.0 of the SDK has been released, these integrations should be updated accordingly.

[2020-09-28 15:21] #277 closed

[2020-10-05 09:50] danielrbrowne opened #295 "Add stale.yml file for issue management"
Ensure that stale issues are automatically added by adding a `stale.yml` to enable [Stale](https://github.com/apps/stale) on this SDK repo.

[2020-10-07 10:05] #295 closed

[2020-10-07 19:12] denisblondeau opened #298 "TVOS support for PusherSwiftWithEncryption"
Is there any timeline regarding being able to use PusherSwiftWithEncryption with a TVOS app? My understanding is that the problem lies with Sodium not supporting TVOS.

BTW - PusherSwift integration with my TVOS app works really well.

Thank you.

[2020-10-08 11:41] danielrbrowne opened #299 "Use a localhost WebSocket server in 'WebSocketTests'"
Currently, `WebSocketTests` uses the free WebSocket Echo server `wss://echo.websocket.org`. This means that these unit tests are liable to fail if that server is offline, or is otherwise very slow to respond to messages sent by the tests.

This should be replaced by a localhost WebSocket server to avoid all of these potential issues. An example of such an implementation is [here](https://github.co

[2020-10-08 13:35] #222 closed

[2020-10-12 06:46] najeeburrehman-brainx commented on #193
Any update on this I also want to do the same as mentioned in Issue. But can't find anything to work. I tried with authMethod `AuthRequestBuilder` and tried with code that @PrakashMuralikannan suggested but no luck.
Any help would be appreciated.

[2020-10-12 14:08] danielrbrowne commented on #114
This is still relevant.

[2020-10-12 14:09] danielrbrowne commented on #150
This is still relevant.

[2020-10-12 16:03] danielrbrowne commented on #195
@mrlubos Apologies that you didn't get a timely reply - can I assume I can close this issue? (As a side note, if you're still using this SDK, please try v9.0.0 that was released recently as we replaced our WebSocket client with a fully-native one).

[2020-10-12 16:08] danielrbrowne commented on #180
No longer relevant as this SDK doesn't use Starscream any more.

[2020-10-12 16:08] #180 closed

[2020-10-12 16:19] danielrbrowne commented on #236
@armandsLa @LtotheWT What are your specifc use cases for this functionality?

[2020-10-12 16:21] danielrbrowne commented on #202
@yukitoto Apologies that you didn't get a timely reply to this issue... What version of the SDK are you using? Do you still see the same behaviour on our latest release, v9.0.0?

[2020-10-13 10:12] danielrbrowne commented on #298
@denisblondeau You are correct, currently [swift-sodium](https://github.com/jedisct1/swift-sodium) does not support tvOS.

I have raised [this issue](https://github.com/jedisct1/libsodium/issues/1004) to investigate whether this is pending work, but it may be a technical limitation of tvOS itself. I will keep this issue updated with anything I found out.

[2020-10-13 11:38] denisblondeau commented on #298
Thank you for your reply, @danielrbrowne; much appreciated.

[2020-10-13 12:01] danielrbrowne commented on #298
Re-opened because there are no technical limitations in theory (as confirmed with swift-sodium's maintainer).

[2020-10-14 12:09] #116 closed

[2020-10-15 09:47] danielrbrowne commented on #293
Closing as irrelevant, since the linked issue now refers to a Carthage Xcode 12 workaround instead of migrating to SPM.

[2020-10-15 09:47] #293 closed

[2020-10-15 10:31] #290 closed

[2020-10-15 11:14] danielrbrowne commented on #276
v9.0.0 has recently been released, complete with a fully-native WebSocket client internal to the SDK. I'd be interested to know if you still see this issue using this version?

[2020-10-16 11:02] danielrbrowne commented on #299
Closing, since this is now being addressed in the [NWWebSocket repo directly](https://github.com/pusher/NWWebSocket/issues/9).

[2020-10-16 11:02] #299 closed

[2020-10-26 05:17] AhmedAbdeen11 opened #305 "Pusher shows only connecting state"
I just implemented pusher for first time on IOS. I implemented it before on android and it works perfectly. But on IOS it doesn't connect. I receive only one message in delegate function changedConnectionState. Which return old: disconnected, new: connecting. Then nothing else. On debug console no connection is shown or anything. I looked everywhere but not sure what is going on. I implemented thi

[2020-10-26 10:27] ben-pusher commented on #305
Hi,
This looks like one our Support team are best placed to help you with - can you raise a ticket via https://support.pusher.com/hc/en-us?

[2020-10-26 10:27] #305 closed

[2020-10-28 10:50] danielrbrowne opened #306 "Update 'Consumption-Tests' for Xcode 12.1"
- [x] Update `LATEST_SUPPORTED_XCODE_VERSION`
- [x] Update `LATEST_SUPPORTED_VERSIONS.xcconfig`

[2020-10-28 11:29] #306 closed

[2020-11-09 06:40] isaacadariku opened #309 "Build fail on release for ios when it's compiling Pusher."
### Steps to reproduce
Build your app using "flutter build ios"
go to Xcode to prepare ipa for store
Click Product > Archive
when it get to compiling Pusher pod, build failed

### Expected behavior

Building Failed and error points to Pusher

### Actual behavior

Undefined symbols for architecture armv7:
  "static Reachability.Reachability.Connection.__derived_enum_equals(Reachability.Reachability

[2020-11-09 09:34] danielrbrowne commented on #309
@isaacadariku Can I ask which version of the Swift Channels SDK you are using? For reference, the latest version is 9.0.0

[2020-11-09 09:37] isaacadariku commented on #309
@danielrbrowne please how can I check it? I have no idea about swift channel..

Cos it complies well on Andriod

[2020-11-09 10:18] danielrbrowne commented on #309
How are you integrating this SDK? Is it via Cocoapods, Carthage, Swift Package Manager, or a direct download?

[2020-11-09 12:13] isaacadariku commented on #309
Okay

I use cocoapods, the normal put the  pubspec.yaml, while building for ios, it install all pods. That is it.

My Xcode version is 11.3.0.1

[2020-11-09 16:35] danielrbrowne commented on #309
It looks like Flutter has possibly not downloaded the Reachability framework. (This is a dependency of the PusherSwift SDK). I am not very familiar with Flutter, but can you ensure that it is downloading all the dependencies when installing PusherSwift?

[2020-11-12 16:33] benjamincombes opened #310 "No reconnection after error on version 9.0.0 only"
### Steps to reproduce

1. Open the app using the Pusher SDK
2. Wait until a network error occurs (examples "Error (code: 1): The operation couldn’t be completed. (Starscream.WSError error 1." or "Error (code: 0): The operation couldn’t be completed. (Network.NWError error 0.)")

### Expected behavior

The connection should recover, and app should be able to receive new messages again

### Actual

[2020-11-12 16:47] benjamincombes opened #311 "Many pusher errors with messages lost"
### Steps to reproduce

1. Connect to Pusher on an app with medium-quality connexion (about 50Mbps in Wifi, not even a really bad one like 3G on a train)

### Expected behavior

In most cases, connexion should be OK, and all messages should be received

### Actual behavior

Many errors are showing for many of our users. So the connection is stopped, then restored, but meanwhile the user didn't rec

[2020-11-12 16:50] danielrbrowne commented on #311
Which version of the SDK are you seeing this behaviour with?

[2020-11-12 16:52] benjamincombes commented on #311
Hi @danielrbrowne, I had this problem with 8.0.0 and 9.0.0

[2020-11-12 16:55] danielrbrowne commented on #310
Were you simulating network connectivity issues in some way? I'd like to be able to reproduce your testing scenario to compare the v8.0.0 and v9.0.0 behaviour

[2020-11-12 17:01] benjamincombes commented on #310
No, this was with real users only, not with simulating network issues. I sent the app to test to members of our team hoping this new version would solve errors we see, and 3 of them (on 5 users) were stuck because no messages would appear anymore after using the app a few minutes (or less).
With version 8, when an error occurred (like described here: https://github.com/pusher/pusher-websocket-swif

[2020-11-16 10:15] danielrbrowne commented on #309
I'll close this issue for now since there's been no reply for a week - if you're still having this issue, please feel free to re-open it or contact Pusher Customer Support for further help.

[2020-11-16 10:15] #309 closed

[2020-11-17 17:30] benjamincombes commented on #311
Hi @danielrbrowne, any news on this? We added some server-side retries to make the problem less visible, but it would be great if you could investigate the problem, let me know if I can be of any help.

[2020-11-17 17:43] danielrbrowne commented on #311
I am actively investigating both this issue and #310. Given that the reconnection issue is a regression I am primarily focussing on that, since you mentioned that the error logging in this issue also occurs on v8.0.0 of the SDK.

I will update both issues once a fix is available.

[2020-11-19 09:04] benjamincombes commented on #311
Thanks a lot, don't hesitate if you need more details/logs/code!

[2020-11-20 13:36] Dearich opened #312 ""pusher_internal". How to bind this event?"
### Steps to reproduce

iOS. Swift. Pusher 8.0(also have tried 9.0 nothing changes)
Get message like:
 {"event":"pusher_internal:member_removed","data":"{\"user_id\":\"\"}","channel":"some-channel"}

Who can I bind this kind of event with this value:  "pusher_internal:member_removed"?

I have tried this:
[code]
but it does not work.
Please help.

[2020-11-20 13:58] #312 closed

[2020-11-24 16:48] #291 closed

[2020-11-24 16:49] #298 closed

[2020-11-25 10:07] danielrbrowne opened #314 "Encrypted channels support by default"
Currently, when integrating this SDK via the Carthage or Cocoapods dependency managers (or statically via Xcode) encrypted channels support is optionally offered by importing the `PusherSwiftWithEncryption` target (instead of the `PusherSwift` target).

Given the recent change to use the lightweight [tweetnacl-swiftwrap](https://github.com/bitmark-inc/tweetnacl-swiftwrap) crypto library, encrypted

[2020-11-25 13:44] #311 closed

[2020-12-07 12:11] danielrbrowne opened #316 "Deprecate 'PusherSwiftWithEncryption' Cocoapod after 9.1.0 release"
The 9.1.0 release will enable Encrypted Channels support by default (see #315). Therefore, the ['PusherSwiftWithEncryption' Cocoapod](https://cocoapods.org/pods/PusherSwiftWithEncryption) will become redundant and should be deprecated.

- [x] Run `pod trunk deprecate PusherSwiftWithEncryption --in-favor-of=PusherSwift` after the 9.1.0 release has been pushed live.

[2020-12-07 12:12] #314 closed

[2020-12-07 16:47] danielrbrowne commented on #316
Completed.

[2020-12-07 16:47] #316 closed

[2020-12-07 18:18] danielrbrowne commented on #288
Reachability is now no longer a dependency of this SDK, as of the v9.1.0 release. Upgrading to the latest version should resolve this issue.

[2020-12-07 18:18] #288 closed

[2020-12-07 18:20] danielrbrowne commented on #179
Reachability is now no longer a dependency of this SDK, as of the v9.1.0 release, and TaskQueue was also removed some time ago. Therefore this issue is now irrelevant.

[2020-12-07 18:20] #179 closed

[2020-12-07 18:25] danielrbrowne commented on #195
Since the latest v9.1.0 release contains reconnection functionality improvements, and since there has been no response, I'll close this issue for now. If it's still a problem, please feel free to reopen this issue.

[2020-12-07 18:25] #195 closed

[2020-12-07 18:26] danielrbrowne commented on #202
Since the latest v9.1.0 release contains reconnection functionality improvements, and since there has been no response, I'll close this issue for now. If it's still a problem, please feel free to reopen this issue.

[2020-12-07 18:26] #202 closed

[2020-12-07 18:26] danielrbrowne commented on #276
Since the latest v9.1.0 release contains reconnection functionality improvements, and since there has been no response, I'll close this issue for now. If it's still a problem, please feel free to reopen this issue.

[2020-12-07 18:26] #276 closed

[2020-12-08 16:56] #287 closed

[2020-12-09 15:39] #114 closed

[2020-12-10 15:27] danielrbrowne opened #321 "Replace 'if let' with 'guard let' where appropriate"
There are a number of instances where `if let` is being used, where `guard let` is more appropriate. Refactoring where appropriate (e.g. exiting a method early, focussing on the "happy path", etc) would improve code readability and will adhere more closely to Swift best practices.

[2020-12-12 18:09] zinlinphyo commented on #310
I have the same issue when I connect with the host with custom URL. Still not working.

`Websocket received error. Error (code: 0): The operation couldn’t be completed. (Network.NWError error 0.)`

[2020-12-14 08:26] benjamincombes commented on #310
Hi, same from me, we made tests with the new version and had to rollback immediately

[2020-12-14 09:03] danielrbrowne commented on #310
@zinlinphyo @benjamincombes I'm a little unclear on things - are you both saying you're still having issues with the most recent v9.1.0?

That version contains a number of improvements to the reconnection logic as compared to 9.0.0, largely based on the previous discussion in this issue.

[2020-12-14 09:23] danielrbrowne commented on #310
In fact, at least in @zinlinphyo I can confirm you aren't using the latest v9.1.0 as I changed the error-logging signature to provide more context on errors as part of the reconnection improvements I mentioned, and your comment references the old error-logging signature format present in 9.0.0 and below. ([see here](https://github.com/pusher/pusher-websocket-swift/pull/313/commits/67f6e78cc8ea0ff6

[2020-12-14 09:51] benjamincombes commented on #310
Hi @danielrbrowne, yes, with the new 9.1 version unfortunately. When it got released, I pushed a new build for my team to test it (I reverted to version 8.0.0, as 9.0.0 didn't work well). But before I even had time to tell them, 2 of them wrote me to know what happened with the app, as they had many many problems and undelivered messages, while the previous version (8.0.0) worked well.

[2020-12-14 09:56] danielrbrowne commented on #310
@benjamincombes Can you please give me some examples of the kind of connection errors you are seeing from the SDK, and (if possible) the exact scenarios in which they are appearing and then presumably where you're not seeing the SDK reconnect after receiving the error(s).

[2020-12-14 17:14] danielrbrowne commented on #310
@benjamincombes @zinlinphyo I believe that [this PR](https://github.com/pusher/NWWebSocket/pull/24) that I opened should resolve the race condition preventing reconnection attempts from working sometimes. One of my colleagues will review it but I welcome any feedback you both have.

Assuming no issues, it will be shipped as a minor update (likely v9.2.1) as soon as possible after it passes code re

[2020-12-15 10:15] benjamincombes commented on #310
Thanks @danielrbrowne, I will try it as soon as possible, I'm working on getting my user's logs to have more details for you too, thanks

[2020-12-15 11:21] danielrbrowne commented on #310
@benjamincombes @zinlinphyo The fix for this race condition is available in v9.1.1 which I've just released.

With an example app, I tested reconnections in the following circumstances (and compared the SDK behaviour to v9.1.0 to confirm reconnections were successful):
- Moving the app to the background, and then using another app before returning the example app to the foreground.
- Turning Airpl

[2020-12-15 13:54] benjamincombes commented on #310
@danielrbrowne OK I'll let you know as soon as possible.
If you want advanced tests on your side too, "Settings -> Developer Settings -> Network Link Conditioner -> Very Bad Network" allowed me to have great testing conditions of a bad network (even if I didn't get all errors one of my users got).

[2020-12-15 14:25] danielrbrowne commented on #310
@benjamincombes Thanks for reminding about the Network Link Conditioner - I can confirm that even when using that preset, I see the reconnections happening successfully. I look forward to your feedback on whether v9.1.1 resolves the issue for you.

[2020-12-16 14:44] kyweng opened #325 "Cannot pod install to get v9.0"
I'm getting this error when pod install / pod update

[!] CocoaPods could not find compatible versions for pod "PusherSwift":
  In Podfile:
    PusherSwift (~> 9.0)

Specs satisfying the `PusherSwift (~> 9.0)` dependency were found, but they required a higher minimum deployment target.

[2020-12-16 14:47] kyweng opened #326 "How to set Cluster and Host at the same PusherClientOptions"
May I know how can I set the cluster and host at the same PusherClientOptions?

This is my code:
let pusherClientOptions = PusherClientOptions(
                     host: .host("abc.com"),
                     host: .cluster("abc")
                 )

[2020-12-16 14:48] danielrbrowne commented on #236
An update:

Pusher Channels offers the ability to optionally connect to non-TLS connections (see the discussion on the `useTLS` option on the `PusherClientOptions` object in the README). However since disabling SSL certification validation on the client side defeats the purpose of using TLS, we have no plans to introduce this feature.

[2020-12-16 14:48] #236 closed

[2020-12-16 14:55] ben-pusher commented on #325
The SDK minimum deployment targets are now iOS 13.0, macOS 10.15 and tvOS 13.0. You will need to ensure your app targets these versions as a minimum.

[2020-12-16 14:55] danielrbrowne commented on #326
The `PusherHost` passed into the `PusherClientOptions` initialiser is an `enum`, and therefore can be one of two case values:
- `.host("someWebSocketHost.com")` - This would be a custom webserver which sends messages according to the Pusher Channels Protocol.
- `.cluster("eu") - This would be the cluster name that refers to the cluster you chose when you set up your Pusher Channels app on the [Pus

[2020-12-16 14:57] danielrbrowne commented on #325
@kyweng Alternatively, if you cannot for whatever reason update your app to target these higher minimum deployment target versions - you can continue to use v8.0.0 of the SDK instead.

[2020-12-16 15:00] danielrbrowne commented on #325
If you still have questions - please feel free to contact us at support@pusher.com

[2020-12-16 15:00] #325 closed

[2020-12-16 15:00] danielrbrowne commented on #326
If you still have questions - please feel free to contact us at support@pusher.com

[2020-12-16 15:00] #326 closed

[2020-12-17 02:43] kyweng commented on #193
Hi,

May I know why it will receive this error message even passing with the cluster?

[PUSHER DEBUG] websocketDidReceiveMessage {"event":"pusher:error","data":{"code":4001,"message":"App key XXXXX not in this cluster. Did you forget to specify the cluster?"}}

This is my code:
let options = PusherClientOptions(
                authMethod: AuthMethod.authRequestBuilder(authRequestBuilder: AuthRequ

[2020-12-17 09:32] danielrbrowne commented on #193
@kyweng I am assuming that "xxx" is a dummy value for your app's cluster. I would in the first instance check that you don't have a typo in either your app key or your cluster name.

This issue is old and has been closed. It also looks like your query isn't directly related to the original question in this issue. Feel free to contact support@pusher.com with more general queries that aren't feature

[2020-12-18 12:42] danielrbrowne commented on #310
@benjamincombes @zinlinphyo Can I assume the latest 9.1.1 release resolved this issue for your teams? I will close it if I've not heard back by 5:30pm GMT today, but please let me know if you have any issues with this in the future.

[2020-12-21 12:27] nicoreese commented on #310
Hi!

I am having a similar issue.

The connection status is changing from disconnected to connecting before receiving the following error:

On 9.0.0 the error is
`[PUSHER DEBUG] Websocket received error. Error (code: 0): The operation couldn’t be completed. (Network.NWError error 0.)`
while on the latest 9.1.1 it's
`[PUSHER DEBUG] Websocket received error. Error: POSIXErrorCode: Software caused co

[2020-12-21 12:44] danielrbrowne commented on #310
@nicoreese

I'm sorry you're having an issue connecting to a custom server. However since it's not specifically to do with reconnection after a loss of connection could you open a new issue instead please? (The root cause is likely not related based on the error message).

Please include as many specifics as possible so that I can try to reproduce. From what I've read it's fine on v9.1,1 when conn

[2020-12-21 12:45] #310 closed

[2020-12-21 12:56] nicoreese opened #328 "Can't connect to custom server using 9.0.0 or above"
### Steps to reproduce

The basic setup I have is this. I use my own server using the Pusher protocol. When the connection changes from disconnected to connecting, an error occurs.

[code]

### Expected behavior

Pusher should connect to my server without errors.

### Actual behavior

In the current version 9.1.1 I receive the following error when running the code above:
`[PUSHER DEBUG] Websocket

[2020-12-21 13:05] danielrbrowne commented on #328
Thanks for opening a new issue to report this. The Pusher team are winding down for the holidays now, but I will look into this in detail when I am back in January.

In the meantime, if you are able to us v8.0.0 instead without issue with your custom server, please continue to do so.

[2021-01-04 10:50] danielrbrowne commented on #328
@nicoreese Are you able to post logs from your server (or examine yourself if you cannot post them) that might contain some error logging or more insight into how your custom server is handling the connection attempt?

Also, can I confirm that your custom server is respecting the [Pusher Channels Protocol closure codes](https://pusher.com/docs/channels/library_auth_reference/pusher-websockets-prot

[2021-01-06 11:55] #198 closed

[2021-01-06 13:24] #321 closed

[2021-01-06 16:26] #219 closed

[2021-01-06 16:26] #220 closed

[2021-01-11 17:02] danielrbrowne commented on #279
@Mootook I was wondering if you're still seeing this issue in the latest v9.1.1 release? (There's been several improvements over the v8.0.0 release to reconnection logic and error-reporting, as well as the Starscream WebSocket client library dependency being removed).

[2021-01-11 23:53] Mootook commented on #279
@danielrbrowne Hello, sorry but I no longer have the project or means to test this at this time.

[2021-01-11 23:57] danielrbrowne commented on #279
Ok thanks for the feedback. Given all the recent changes (which are likely to have made this issue redundant) I'll close the issue for now. Feel free to reopen it if this changes.

[2021-01-11 23:58] #279 closed

[2021-01-22 10:32] danielrbrowne opened #332 "Mark the legacy event 'bind(…)' methods as deprecated"
The v7.1.0 release [introduced](https://github.com/pusher/pusher-websocket-swift/pull/227) new `bind(…)` methods which return a `PusherEvent` object via a callback.

The original methods were left untouched for backwards compatibility, but they should now be marked as deprecated (with the intention to remove them altogether in the future 10.0.0 release).

[2021-01-22 11:08] danielrbrowne opened #334 "Remove legacy 'bind(…)' methods"
Following on from: https://github.com/pusher/pusher-websocket-swift/issues/332

These legacy methods (and associated code) should be removed for the v10.0.0 release.

[2021-01-26 23:02] MarioPcol commented on #305
@AhmedAbdeen11  What was your solution? I'm facing the same issue

[2021-02-02 17:13] #332 closed

[2021-02-19 03:55] r-plus opened #341 "Carthage xcframework support for v8.x"
### Steps to reproduce

not a bug. feature request.

### Expected behavior

Pusher v8.x for older os version supporting project can build xcframework via carthage v0.37.0.

### Actual behavior

- Pusher itself and Sodium dependency framework_search_path is not compatible for it.

Do you have any plan to support it by releasing v8.0.1?

[2021-02-19 10:02] ben-pusher commented on #341
Could you share the OS version and Xcode version you are using, along with the full error message being encountered and at what point you encounter the error?

[2021-02-25 14:42] danielrbrowne commented on #341
@r-plus We are only committing to critical bug fixes for future v8.x releases. [See here](https://blog.pusher.com/channels-ios-swift-v9-0-0-refreshing-the-sdk-with-a-flexible-native-websocket-client/). Specifically:

[2021-02-25 14:42] #341 closed

[2021-02-25 16:32] danielrbrowne opened #342 "Refactor the public API"
The public API would benefit from several improvements to adhere more closely to best practices for a SDK written in Swift. Of course, this would introduce several breaking changes due to the following kinds of changes:

- Refactoring type names and method signatures (if required) to more closely adhere to [Swift API design guidelines](https://swift.org/documentation/api-design-guidelines/) and be

[2021-02-26 08:40] r-plus commented on #341
ok, sure.

[2021-03-01 05:50] jyotiglocalview opened #343 "Pusher connection lost when network is slow on v9.0.0"
I am using pusher swift library for pusher events in my iOS app. I am using xCode 12.3 (swift 5) and installing app on device With iOS version 14 and above.
Observations:
My app works perfectly when there is good network and receive pusher events.
But when the network is slow, I think pusher connection is lost and hence I could not subscribe the channels and not recieve events.
I have initialised

[2021-03-01 06:50] jyotiglocalview commented on #343
I got this logs:

2021-03-01 12:01:54.955423+0530 Quizzwizz[366:7753] [connection] nw_read_request_report [C10] Receive failed with error "Software caused connection abort"
2021-03-01 12:01:54.956856+0530 Quizzwizz[366:7753] [connection] nw_read_request_report [C2] Receive failed with error "Software caused connection abort"
debugLog [PUSHER DEBUG] Websocket received error. Error (code: 0): The op

[2021-03-01 10:59] ben-pusher commented on #343
Could you let me know what constitutes a slow network? I wouldn't expect a slow network to cause the client to disconnect as we operate a ping/pong mechanism to detect whether the connection is still active, even on slow networks there should be sufficient time for the ping/pong messages to be sent/received to keep the connection alive.
Could you also confirm the library version in use here?

[2021-03-01 11:04] danielrbrowne commented on #343
@jyotiglocalview To echo the comment from Ben, can you tell me which version of our SDK you are using?

I ask since from the format of the error logs it looks like you may be using v9.0.0 of the SDK. We improved the reconnection logic for exactly these scenarios (and made the error logs more informative) since that release. The current release is v9.2.0. Assuming you are using an older v9.x.x rele

[2021-03-01 11:06] jyotiglocalview commented on #343
Hi ,
We have installed  pod 'PusherSwift' in our pod file. I assume by this , we are using the updated code? isn't it?

[2021-03-01 11:15] danielrbrowne commented on #343
@jyotiglocalview You would need to check your `Podfile.lock` file to see which exact version you are integrating. If it is below v9.2.0 you will need to either run `pod update PusherSwift` from the Terminal, or if your `Podfile` has fixed the version to 9.0.0 like:
[code]
you can change it to pull in minor v9.x.x updates when running the `pod update PusherSwift` command by changing the `Podfile` t

[2021-03-01 12:32] danielrbrowne commented on #343
@jyotiglocalview If you still have reconnection issues after ensuring you are using v9.2.0 of the SDK, please let us know and we will follow up with you. Otherwise, I will close this ticket on 8th March if there are no further replies.

[2021-03-02 05:02] jyotiglocalview commented on #343
Hi Team,
Thank you for your immediate help. I have  updated the pod to latest version you specified. I have not faced that connection lost issue till now. Will be doing testing for day or two more to be sure and update you.

[2021-03-02 09:02] junpluse opened #344 "Clarify stance on encryption export requirements for App Store"
This library has a dependency on [TweetNacl](https://github.com/bitmark-inc/tweetnacl-swiftwrap), which implements its own encryption without using the iOS system libraries.

So, I think Pusher needs to provide guidance on how developers should answer [the questions about export compliance](https://help.apple.com/app-store-connect/#/dev88f5c7bf9) that the App Store asks.

[2021-03-04 14:48] danielrbrowne commented on #343
@jyotiglocalview Are you happy for me to close this ticket? I assume you've not had any further issues since upgrading?

[2021-03-05 05:01] jyotiglocalview commented on #343
Hi Team,
Yes. I am very happy. My issue is resolved by upgrading. Thanks a lot for the help..:)

[2021-03-05 08:06] #343 closed

[2021-04-23 15:00] CityTransit commented on #150
I can confirm that since #313 was introduced the library is functional on Apple Watch.

#350 enables the deployment target for Cocoapod consumers.

[2021-04-30 01:27] #328 closed

[2021-05-11 11:39] spasbilyarski opened #352 "Problems connecting with versions 9.0+"
### Steps to reproduce

1. Setup a socket connection with a host and not a cluster:
[code]

2. Observe debug logs:
[code]

### Expected behavior

Connect to the server and proceed with channel subscription.

### Actual behavior

No connection is made, observed errors in console.

### Notes

I was not able to make this work with versions 9.x but the same code base works with version 8.0.

[2021-05-11 16:25] benw-pusher commented on #352
Hi, could you let us know what you are setting your host to? Does it work if you set a cluster instead of setting a host directly?

[2021-05-12 07:23] spasbilyarski commented on #352
Hi, needed to ask our backend because I just knew that we were using our own server and nothing more. Turns out we are using Laravel Websockets by Beyond Code that in their words should be "drop-in Pusher API replacement". Now that I have this information it is most likely a compatibility issue with the versions. Can you confirm?
PS: I am ok with you closing this issue.

[2021-05-12 10:35] benw-pusher commented on #352
I do believe this is a compatibility issue. It seems other people have encountered the same issue when using Laravel Websockets and have reverted to using v8.
Are you able to use v8 of the library for your project?

[2021-05-12 10:44] spasbilyarski commented on #352
@benw-pusher Yes there are no problems when using v8, the issue I am seeing is only applicable to v9.0 and up

[2021-05-12 10:53] benw-pusher commented on #352
Thanks. We replaced the underlying package that initiates the connection request in v9 so this will be the cause of the issue - however as this works well with our own service our advice would be to continue to use v8 as we can't commit to supporting custom websocket server connections.

[2021-05-12 10:53] #352 closed

[2021-05-28 06:58] danielrbrowne commented on #342
This is still on the roadmap.

[2021-05-28 06:59] danielrbrowne commented on #334
This is still on the roadmap.

[2021-06-09 01:26] #344 closed

[2021-06-09 01:44] nolanamy opened #353 "Deliver events on background thread"
### Steps to reproduce

Subscribe to a Pusher channel and bind a callback to an event. Then, receive that event.

### Expected behavior

Callbacks are called on a background thread, as they are in https://github.com/pusher/pusher-websocket-java (thread name: `"pusher-java-client eventQueue"`)

### Actual behavior

Callbacks are called on the main thread: https://github.com/pusher/pusher-websocket-

[2021-06-09 16:00] danielrbrowne commented on #353
@nolanamy Thanks for opening the issue to identify this difference between the Swift and Java SDKs.

I know from past discussions from before I joined Pusher, there's been some hairy thread-safety issues during developing this SDK, so it may be that this use of the main queue was a workaround to some issues. I will schedule this in our roadmap and look into a thread-safe change to match the Java S

[2021-06-09 20:07] nolanamy commented on #353
@danielrbrowne sounds good.

No big impact; our event handler (common to Android and iOS via Kotlin Multiplatform) quickly dispatches to another thread in either case. Having spent more time with the Java SDK, I'd just assumed the Swift SDK was using a background thread too.

[2021-07-07 12:13] #334 closed

[2021-07-07 12:48] #150 closed

[2021-08-04 04:21] nick70007 opened #360 "Pusher keeps on disconencting"
Hello, my pusher keeps on disconnecting as soon i leave the screen, is there a way to keep pusher connected

[2021-08-04 10:48] benw-pusher commented on #360
Is this when you leave the app entirely or just when you change screen within the app? If the latter then to solve you will need to ensure you maintain a strong reference to the Pusher object to prevent it being deallocated.
Let me know if this helps.

[2021-08-07 07:10] ghassanjaa opened #361 "'PusherSwift' authenticate not called in swift"
Im trying to using "AuthRequestBuilderProtocol" for authenticating the Pusher connection. But it's not called, I create a class AuthRequestBuilder that inherit from AuthRequestBuilderProtocol like the code below

[code]

In the main controller i define the following variables

[code]

And in viewDidLoad i define the following:

[code]
The problem the AuthRequestBuilder not called when i called in

[2021-08-12 08:46] ghassanjaa commented on #361
I fix the problem by returning to version 8.0.0 because the backend server is compatible with this version and not for latest version

[2021-08-14 10:44] jkpatel1463 commented on #360
We also face this issues.

[2021-08-14 11:07] hansemannn opened #362 "Carthage build fails"
### Steps to reproduce

When using `carthage update --use-xcframeworks`, the build fails with the `PusherSwift` dependency. The other dependencies seem to work fine, indicating an issue with PusherSwift.

### Expected behavior

The build should finish successfully and produce an univeral *.xcframework

### Actual behavior

[code]

[2021-08-16 15:02] benw-pusher commented on #362
Could you share the Xcode version in use, along with the configured command line tools version?

[2021-08-16 16:14] hansemannn commented on #362
Sure! It's Xcode 12.5.1 on an Apple Silicon Mac and latest Carthage.

[2021-08-17 10:04] benw-pusher commented on #362
Could you try following the migration steps at https://github.com/Carthage/Carthage#migrating-a-project-from-framework-bundles-to-xcframeworks?

[2021-09-01 14:22] benw-pusher commented on #362
I'll close this as there has been no response, if the above steps fail please open an issue and provide as much info as possible.

[2021-09-01 14:22] #362 closed

[2021-09-21 15:37] pjechris opened #364 "Pusher fail to reconnect properly when coming back in foreground"
### Steps to reproduce

- Go in background
- Wait a few seconds
- Go back in your app

### Expected behavior

Pusher reconnect and subscribe to channels

### Actual behavior

Connection fail with message "Invalid signature: Expected HMAC SHA256 hex digest" and no channel is subscribed

We did some digging. It seem that when coming back in foreground Pusher lib has hard time connecting and make man

[2021-09-22 08:18] benjamin-tang-pusher commented on #364
Thanks for this, I will take a look.

[2021-09-23 16:40] benjamin-tang-pusher commented on #364
I believe you're right, it's possible the reconnection is causing the invalid signature error as the client gets a new socket ID. In your second screenshot (with the HTTP Status and PARAMS.SOCKET_ID columns), would it be possible to add an extra column for the token that was generated for that request? Would you also be able to export those iOS logs and attach them here?

[2021-09-24 15:27] pjechris commented on #364
Unfortunately no because the generated token is not logged

[2021-10-02 21:28] karenxpn opened #365 "Pusher fail to listen event changes when coming back in foreground"
I have an issue when moving the app from background to foreground, it reconnects properly but does not listen to any changes, binding is not working at all even no error is shown.
Sometimes it works okay but mostly it does not listen to events

[2021-10-03 17:37] #353 closed

[2021-10-04 14:46] karenxpn commented on #365
This happens only on IOS 15, please solve this issue

[2021-10-07 15:55] benjamin-tang-pusher commented on #365
Can you reproduce this on the simulator, or does it only happen on a physical device?

I've just updated my device to iOS 15, and I will give it a go there.

[2021-10-07 16:22] benjamin-tang-pusher commented on #364
Would you be able to add logging the token on your auth endpoint, along with the related screenshots similar to your first post, and we will escalate this.

[2021-10-08 10:42] benjamin-tang-pusher commented on #365
Can you add logging by adding the debugLog and changedConnectionState functions like this:
[code]
Is there anything unusual printed out when the app goes back into foreground? Could you paste it here.

[2021-10-08 12:52] benjamin-tang-pusher commented on #364
Would you also be able to send us the code snippets ([in a secret gist if you prefer])(https://docs.github.com/en/github/writing-on-github/editing-and-sharing-content-with-gists/creating-gists) of your usage of the SDK?

[2021-10-12 20:13] #342 closed

[2021-10-13 20:16] karenxpn commented on #365
it seems like everything is working now, but I haven't changed anything. et reconnects properly and doesn't throw any error
[PUSHER DEBUG] Network connection became unviable
[PUSHER DEBUG] Websocket received error. Error: POSIXErrorCode: Socket is not connected
State changed from connected to disconnected
[PUSHER DEBUG] Websocket is disconnected but no error received Close code: Optional(1001). Re

[2021-11-01 08:04] benjamin-tang-pusher commented on #364
Hi, we've been doing some extensive testing and we can't reproduce the connection flapping. Could you send us a video to see if there's anything we missed in our reproduction? Could you also send us some of your implementation in a secret gist?

[2021-11-01 15:07] sampaioroberto opened #366 "Pusher doesn't call PusherDelegate when calls connect() with no network"
### Steps to reproduce

1. Implement the delegate PusherDelegate and listen to `changedConnectionState(from:, to:)` and `receivedError(error:)`
2. Call Pusher `connect()`.

### Expected behavior

If there is no internet connection when we call `connect()`, we should receive a pusher error on `receivedError(error:)`.

### Actual behavior

The connection state changes from `disconnected` to `connect

[2021-11-04 11:51] benjamin-tang-pusher commented on #364
I will close this ticket for now due to lack of response, please reopen if you need to revisit.

[2021-11-04 12:33] pjechris commented on #364
@benjamin-tang-pusher I did send you the source code by mail on October 8th. And also said that I would give you the logs as soon as I can (which for now I can't).

FWIW we did some tests with v8 and it seem we have way less issues with this prior build

[2021-11-05 11:29] benjamin-tang-pusher commented on #366
receivedError(error:) is for [error codes](https://pusher.com/docs/channels/library_auth_reference/pusher-websockets-protocol/#error-codes) Pusher sends to your client. Its not for local network disconnection.

Its described in the readme https://github.com/pusher/pusher-websocket-swift#connection-delegate

Hope this clears things up.

[2021-11-05 12:32] sampaioroberto commented on #366
Yeah, I had read that. I was just wondering that it could have an error for this network disconnection. Is there a solution for that in Pusher?
Because today this error is just logged in ```webSocketDidReceiveError(connection:, error:)```, and I receive no reply from Pusher in my code.

[2021-11-08 10:16] pjechris commented on #364
@benjamin-tang-pusher can you confirm you received the code by mail? 🙏

[2021-11-09 19:28] interpegasus opened #368 "SWIFT: Publishing Events Without Server / Backend"
I would like to know how to publish / trigger an event to a channel directly from Swift?

The documentation mostly mentions subscriptions to channels. And a server requirement for publishing events?

I would like to know more about the architecture on Pusher. Does pusher have servers that host the channels? Or is that a function for each individual backend?

Thank you

[2021-11-10 11:00] benjamin-tang-pusher commented on #368
You can use [client trigger](https://github.com/pusher/pusher-websocket-swift#triggering-events) but you will still need a server backend at least for [authentication](https://pusher.com/docs/channels/server_api/authenticating-users/).

Yes, Pusher hosts the websocket connections for the channels.

[2021-11-11 00:00] interpegasus commented on #368
Thank you

[2021-11-11 00:00] #368 closed

[2021-11-16 16:40] benjamin-tang-pusher commented on #364
Hi Chris, thanks for the information. I've responded to your team on the support ticket. To summarise, we are still investigating your case, but in the meantime, if version 8 works better for you, please use that as a workaround in the meantime.

[2021-11-20 20:47] #360 closed

[2021-11-25 15:52] dganzella opened #369 "[iOS] on pusher swift 10.0.0, changedConnectionState seems not to be triggering properly"
### Steps to reproduce

Turn off-and-on wifi on an iOS device while in a pusher session, disconnect and recconect multiple times on a presence channel.

### Expected behavior

All messages from

[code]

Should appear (disconnecting, reconnecting, reconnected, etc.)

### Actual behavior

Sometimes this method is not triggered. Sometimes for disconnection, sometimes for reconnection. Which causes th

[2021-11-25 15:56] dganzella opened #370 "[IOS] on pusher swift 8.0, the users are duplicating"
### Steps to reproduce

Turn on-and-off wifi on an iOS device with ios 14 or 15, and disconnect-and-recconect multiple times on a presence channel.

### Expected behavior

The PusherPresenceChannel.members list should not duplicate users.

### Actual behavior

The PusherPresenceChannel.members is duplicating users, making users appear two or three times upon each reconnection.

### Any improvement

[2021-11-25 16:07] dganzella commented on #369
Seems to be happening also on 9.2.2

[PUSHER DEBUG] Network connection became unviable
[tcp] nw_proto_tcp_route_init [C3.1:3] no mtu received

is the only message I receive. not printing
print("old connection state: \(old.stringValue()) -> new state: \(new.stringValue())")

at all

[2021-11-25 16:35] dganzella commented on #370
seems to be wha this dude is all about:

https://github.com/pusher/pusher-websocket-swift/pull/363/commits/215c7775d34c047b859e0b1bc93c788a537c26eb

[2021-11-25 16:49] benw-pusher commented on #365
Thanks for the update. As this is now working I'll close this out, if the issue comes back please reopen or raise a new issue.

[2021-11-25 16:49] #365 closed

[2021-11-25 16:55] dganzella commented on #370
If anyone wants, I pushed a version with the fix from https://github.com/pusher/pusher-websocket-swift/commit/215c7775d34c047b859e0b1bc93c788a537c26eb

 pod 'PusherSwift', :git => 'https://github.com/mirrorlink/pusher-websocket-swift.git', :branch => '8.0.1'

(if you have a podspec)
  s.dependency 'PusherSwift'

8.0.1 this is the version that god himself bestowed upon us

[2021-11-25 16:57] dganzella commented on #369
Seems to also happens on 9.0.0, its only not happening on 8.0

Like the other guy said on the other thread, 8.0 is not as bad

[2021-11-30 09:02] nicolas-vivot commented on #364
Hi,

Any news about this issue ? It's quite a critical bug and i'm a bit surprise that there is no fix yet.

We recently released an iOS application using the Pusher channel SDK to connect to private channel because it was working really fine for our Web application, but lately since more and more clients start to use the mobile application we have more and more cases where some of our in-app feat

[2021-11-30 10:03] miquelbeltran commented on #369
My guess is because the Reachability dependency was removed: https://github.com/pusher/pusher-websocket-swift/commit/02aeab65c0ac9fb81ad131370159a9af0c90e946 and this also removed this section of code:

https://github.com/pusher/pusher-websocket-swift/commit/02aeab65c0ac9fb81ad131370159a9af0c90e946#diff-53e65cfa055a12c2f09666ac710e9eafc9643f5fb418cbfb5e0bae4bbac10410L321-L324

which was in charge

[2021-11-30 10:06] miquelbeltran commented on #364
As commented on https://github.com/pusher/pusher-websocket-swift/issues/369 my guess is that this issure is related to removing the Reachability dependency and this autoconnect code: https://github.com/pusher/pusher-websocket-swift/commit/02aeab65c0ac9fb81ad131370159a9af0c90e946#diff-53e65cfa055a12c2f09666ac710e9eafc9643f5fb418cbfb5e0bae4bbac10410L321-L324

[2021-12-01 22:01] mirrorlink commented on #364
@nicolas-vivot I'm also surprised they are not fixed yet. Like its been broken for about 5 or 6 releases. I've tested all of them

I also made a workaround now, using 8.0 with a fixed issue that was duplicating users on iOS

[code]

[2021-12-03 09:54] benw-pusher commented on #364
I am checking internally on the progress on this issue. We have attempted replication and have been unable to replicate so far which is causing some delays.

In terms of version 8 of the SDK - this is the same in terms of the API so you should be able to easily move back to that version.

[2021-12-03 10:08] nicolas-vivot commented on #364
Thanks for your reply.

We are already switching on the v8 yes, and will wait for your feedback about the bug fix on the support ticket or here.

[2021-12-03 16:24] benw-pusher commented on #369
@dganzella you mention is doesn't happen on v8, and that it is not as bad on v8. Could you just clarify this? I'm confused as to whether the issue is not present in version 8, or if it _is_ present just not encountered as frequently.

[2021-12-03 16:48] mirrorlink commented on #369
Hey ben! (I'm dganzella) I'm happy that pusher is looking into it.

What I meant is, on v8, I can get the disconnetion events, but on v8, the users get duplicated. The members array of a channel is never cleared properly. And that happens when disconnecting and reconnecting, you can see more about it here:

https://github.com/pusher/pusher-websocket-swift/issues/370

Besides, there is something el

[2021-12-16 06:06] leofirespotter commented on #364
Has there been any update on this issue?

[2021-12-28 04:39] gogovan-jacksonchung opened #371 "missing required module CTweetNacl after building XCFramework with Carthage"
### Steps to reproduce

What must I do to reproduce the bug?
1. Build XCFramework by Carthage
2. Import `PusherSwift.xcframework`, `TweetNacl.xcframework` and `NWWebSocket.xcframework` to Xcode project
3. Build the app project in Xcode
4. Observe
<img width="790" alt="Screenshot 2021-12-24 at 9 56 34 AM" src="https://user-images.githubusercontent.com/42664300/147528726-efac74ab-a9b0-40a1-a60b-0be3

[2022-01-01 09:21] iksandecade opened #372 "pusher doesn't connect to server"
### Steps to reproduce

Implement Pusher same like the document
[code]
### Expected behavior

Connect to server

### Actual behavior

State Connection only "State changed from disconnected to connecting" and debugLog not printed
is there something missing in my implement?

### Note
I use Xcode 13.2.1, iOS 15, Swift 5, Pusher 10.0.0

[2022-01-02 14:25] #372 closed

[2022-01-13 17:07] benjamin-tang-pusher commented on #371
You're right, I can reproduce this issue. Let me dig into this...

[2022-01-21 07:52] quangthai206 opened #373 "Connection automatically reconnects after intentionally calling pusher.disconnect()"
### Steps to reproduce
VERSION: "9.2.2"

1. Initialize Pusher instance: let pusher = Pusher(key: "APP_KEY")
2. Start connect to Pusher: pusher.connect()
3. Stop connect to Pusher: pusher.disconnect()

### Expected behavior

No connection to Pusher after that

### Actual behavior

After about 2 minutes, pusher automatically reconnects the connection

### Any improvements you suggest

As I investiga

[2022-01-21 20:24] benjamin-tang-pusher commented on #371
Hmm, I recreated the project and tried again, and now it works...

<img width="1091" alt="Screenshot 2022-01-21 at 15 19 00" src="https://user-images.githubusercontent.com/83954069/150594913-1f236313-e584-4291-af01-d14a70a35c94.png">

I'm not sure if anything's changed recently. Could try again: delete the previous xcframework folders and the checkout folders, build again with carthage update --us

[2022-01-27 09:50] gogovan-jacksonchung commented on #371
thanks for following up. after digging deep, I am able to 100% reproduce by removing `tweetnacl-swiftwrap` from the `Carhtage/Checkouts` folder
That is why when we build it by carthage, the project can be built.
But if we import `NWWebSocket.xcframework`, `PusherSwift.xcframework` and `TweetNacl.xcframework` without building from source code, it fails to build the project.
<img width="1419" alt="S

[2022-01-27 09:54] gogovan-jacksonchung commented on #371
It will be an issue if I share the xcframeworks to my teammates and they don't build from source code.

[2022-02-11 18:08] #366 closed

[2022-03-01 12:12] benjamin-tang-pusher commented on #373
You're right, is reconnecting. I will get someone to take a look at your PR.

[2022-03-03 00:54] #370 closed

[2022-03-11 15:57] #373 closed

[2022-03-15 01:54] #369 closed

[2022-03-25 07:55] pjechris commented on #364
This is a joke. No news since 6 months. No news on my last comment. And the ticket get closed.

[2022-03-25 09:15] benw-pusher commented on #364
Looks like a bot closed this one out, reopening this.

[2022-03-28 17:58] TiagoLira commented on #371
Hi,
I'm having the same problem with Swift Package Manager.
If I'm using Pusher directly in the main project, the package works well. But if I compile my framework that requires the Pusher package, and add it to a project, the error appears:

_error: missing required module 'CTweetNacl'
error: failed to build module 'myframework' for importation due to the errors above; the textual interface may b

[2022-04-22 13:09] lordcodes opened #376 "SwiftLint is specified as a dependency in Project.swift"
### Steps to reproduce

Use Pusher Swift via SPM

### Expected behavior

SwiftLint and all of its various dependency packages are not added to consumer project as packages.

### Actual behavior

SwiftLint is specified in the dependencies of Pusher within Package.swift. When used via SPM SwiftLint and all of it's dependency packages are added to the consumer project.

### Any improvements you sugge

[2022-04-22 16:31] benjamin-tang-pusher commented on #376
I will see if this can be removed.

[2022-04-22 19:51] lordcodes commented on #376
Thank you!

[2022-05-22 17:44] rex-remind101 opened #378 "update cocoapods?"
### Steps to reproduce

looking at github release tags the latest is 10.0.2 vs cocoapods which has 10.0.0

### Expected behavior

cocoapods also has 10.0.2 as its latest

### Actual behavior

cocoapods has 10.0.0

### Any improvements you suggest

keep cocoapods in sync with the latest release

[2022-06-22 16:23] pjechris opened #379 "No error object when subscribing to a forbidden channel"
Would be useful to actually receive an error object when an error occur in Pusher. 90% of the times the attribute is nil especially in this context: I try to subscribe to a channel I am not allowed to.

### Steps to reproduce

- Try to subscribe to a channel you don't have permission to

### Expected behavior

`PusherDelegate.failedToSubscribeToChannel` is called with an error object stating I don

[2022-07-04 21:09] benjamin-tang-pusher commented on #364
I just found out a way to partially reproduce the Invalid signature error: I had to put the app into the background, and then switch from Wifi to LTE, and back again to Wifi, then resume the app into the foreground. This results in a HMAC digest error which I think is the same as what you're getting:

[code]
The library connects twice upon resume, and there's confusion between the client and serve

[2022-07-15 13:57] fbenevides commented on #378
Hi @rex-remind101, thanks for raising it.

We've just bumped the version to `10.1.0` and it's synchronised with CocoaPods.

[2022-07-15 14:18] #378 closed

[2022-07-21 13:21] pjechris commented on #379
@benjamin-tang-pusher  Our endpoint return a classic 401 when it reject the subscription.

[2022-07-22 02:24] aheze opened #384 "Pusher state gets stuck on `disconnecting`"
### Steps to reproduce

This happens every so often, usually when I connect and then disconnect rapidly. Normally, from the `changedConnectionState(from old: ConnectionState, to new: ConnectionState)` function, this gets printed:

[code]

Both lines get printed right after each other. However sometimes Pusher gets stuck on this:

[code]

Later, when I try reconnecting again, the pusher's state is

[2022-07-24 06:24] rahat14 opened #386 "Lack Of Good Example In Swift UI"
Pusher is my go-to service for notification and other services while developing android applications. but recently i moved to IOS development with swift UI but here I see a lack of samples and examples. Please look into this problem

[2022-07-25 08:22] benw-pusher commented on #386
Hi @rahat14. We don't supply any UI as this is beyond the scope of the realtime capabilities we provide. There are third party UI sample apps available that may meet your needs - https://iosexample.com/tag/swiftui/, however Pusher does not intend to provide any ourselves.

[2022-07-25 08:22] #386 closed

[2022-07-26 13:13] benjamin-tang-pusher commented on #384
Hi, we have a known issue 364 where disconnecting and reconnecting repeatedly cases a HMAC SHA256 error. In there I reproduced this by switching between LTE and Wifi while the app's in the background, but you've mentioned just connect and disconnecting. Are you rapidly calling the disconnect() and connect() methods?

[2022-07-26 19:19] benjamin-tang-pusher commented on #379
If you reject the auth with a 401, it will go to the below .invalidAuthResponse case:  https://github.com/pusher/pusher-websocket-swift/blob/4690eb0c3e398dfe17bd102a985236598eaf03bd/Sources/Services/PusherConnection.swift#L849-L857 where the error argument intentionally left out.

and if you go slightly above to the .requestFailure case,

https://github.com/pusher/pusher-websocket-swift/blob/4690e

[2022-08-16 13:16] #384 closed

[2022-09-09 18:56] brianguertin commented on #371
Yeah, this is still very much an issue.

I think the Package.swift needs to be updated to also export CTweetNacl

[2022-09-09 19:10] brianguertin opened #396 "missing required module CTweetNacl when using SPM"
I'm using SPM to include this module in my Package.swift, which I'm then trying to build into an iOS app.

However the build fails due to missing `CTweetNacl` module.

I suspect it needs to be exported in your Package.swift in order to be picked up.

Similar issue to https://github.com/pusher/pusher-websocket-swift/issues/371 which was auto-closed (despite not being fixed)

[2022-09-12 15:00] benw-pusher commented on #371
Reopening, this shouldn't have closed.

[2022-09-12 17:03] benjamin-tang-pusher commented on #364
Just to let you know we've assigned another engineer to investigate this.

[2022-09-14 08:00] benjamin-tang-pusher commented on #396
Did you add the package to your project using with File (or right click)->Add Packages... . If so, did you then set the dependency rule to 10.1.1. (or pin to the master branch)? As currently its defaulting to an older version.

[2022-09-14 18:20] benjamin-tang-pusher commented on #396
Sorry, I just reread this, and since you've got your own Package.swift, you must be giving it to someone else to import (or importing it again into your own app)

If thats the case, then I can give you a workaround repo, which has manually copied both dependencies' source files into the project, which you can run yourself. Its not an ideal workaround, but tweetnacl-swiftwrap uses C files, which ne

[2022-09-16 02:08] brianguertin commented on #396
Yeah, I'm actually have a library (so I have Package.swift), thanks for your help, it is appreciated :)

[2022-09-21 08:55] benjamin-tang-pusher commented on #396
I've uploaded it to this repo: https://github.com/benjamin-tang-pusher/pusher-socket-swift-depsincluded. The project builds, and the tests pass. You cannot use SPM to import it, however, because the sources folder now has mixed language (C files), so I just need to test if it can be used by adding the project.

[2022-09-22 08:35] benjamin-tang-pusher commented on #396
You can use the above repo for your project:

1. Clone it (probably into your project's directory)
2. In your XCode project, click your project file, then target, and in framework and library, click the + icon
3. Click add other
4. Click the project file of my lib
5. Click the + icon again, and select PusherSwift.xcframework

Now you can import PusherSwift into your project and use it.

[2022-09-22 09:50] benjamin-tang-pusher commented on #371
As a workaround to both of these, I've included added dependencies into the source code files here: https://github.com/benjamin-tang-pusher/pusher-socket-swift-depsincluded. Copy it to your project and add its PusherSwift.framework in your target's `Frameworks, Libraries and Embedded Content `

[2022-09-22 19:43] brianguertin commented on #396
Thanks so much!

You're instructions say project file, but this is a Swift package. So, will the resulting PusherSwift.xcframework work as a binary dependency in a swift package.

I'll give it a try when I have a moment

[2022-09-27 17:33] brianguertin commented on #396
Thanks for your insight, I think this is really just for us to deal with on our end :)

[2022-09-27 17:33] #396 closed

[2022-11-04 14:09] benjamin-tang-pusher commented on #364
We have a potential fix for this, which is currently in the testing stage.

[2022-11-07 14:21] benjamin-tang-pusher commented on #371
I'm still looking at gogovan-jacksonchung's issue. I suspect the root cause of this error messages is TweetNACL's C code, and I have a plan to test this hypothesis soon. I think Carthage doesn't play well with compiling C code and running on other machines, whereas Swift PM doesn't like pure C dependencies. I'm going to ask Engineering if we can move away from C entirely, similar to how our javasc

[2022-11-07 16:49] tjolsen-vn opened #400 "Undefined Symbols Build Errors When Adding Pusher"
### Steps to reproduce
I'm having trouble importing Pusher into a (mostly) Obj-C code base. I plan on doing this integration in Swift, however. But, when I added Pusher to the target via SPM (https://github.com/pusher/pusher-websocket-swift.git), I got a bunch of "Undefined symbols for architecture arm64" errors for `NWWebSocket` stuff. So, then I tried also adding NWWebSocket via SPM (https://git

[2022-11-14 08:02] pjechris commented on #364
Hey thanks for the fix @benjamin-tang-pusher. We'll try it whenever possible.

For the multiple reconnection I also got the same issue last week when upgrading from Starscream 3 to 4. As they are using native websockets in this latest version and do you I'm starting to think this one might be an Apple bug? 😬

[2022-11-14 21:04] amir20001 opened #401 "Timeout on authentication endpoint puts pusher in an incorrect state"
### Steps to reproduce

Timeout in authentication endpoint causes pusher to think its connected with out actually connecting to the channels.

### Expected behavior

Unless a 401 or 403 is received I would expect a retry.

### Actual behavior
These are the logs that we saw, it seems like the authentication endpoint timed out, but pusher's state is still set to "connected" .
Which masks the error t

[2022-11-15 10:39] benjamin-tang-pusher commented on #364
If its happening on Starscream as well, then its likely to be an Apple issue. We haven't looked too hard into the websocket networking yet.

[2022-11-18 16:01] benw-pusher commented on #401
We do expose a [subscription error](https://pusher.com/docs/channels/using_channels/events/#pushersubscription_error-1995773905) event you can bind to, if this is encountered you can build your own retry mechanism for attempting to subscribe to the correct channel.

[2022-11-18 16:01] #401 closed

[2022-11-24 17:16] benjamin-tang-pusher commented on #400
When you add PusherSwift as an SPM package, did you use the XCode Menu's `File -> Add Packages ...` (or right click ->`Add Packages` on the left sidebar), or are you adding it in your own Package.swift?

When you add PusherSwift as a dependency for your project, it should resolve PusherSwift's dependencies automatically. That you manually added NWWebsocket sounds like something gone wrong here.

[2022-11-25 14:59] pjechris commented on #364
Ok. For now because of other priorities and code freeze period until end of the year I won't be able to test before January. I'll give you more feedback at that time.

Thanks